.header {
    background: rgb(57, 99, 10);
    padding-bottom: 3px;
}

.header a {
    text-decoration: none;
    color: white;
}
.header span{
    padding: 5px;
    font-size: large;
    font-weight: 500px;
    display: inline-block;
}

.header a.active span {
    background: red;
    border-bottom: 3px solid white;
}